<?xml version="1.0" encoding="UTF-8"?>
<!-- Colocar na raiz do frontend no IIS:
     D:\inetpub\Bosch\AplicationHTTPS\CycleTimeAnalysis\web.config
     Garante os MIME types que o MediaPipe (WASM) precisa. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".task" />
      <mimeMap fileExtension=".task" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
